.sidebar{
    width: 20vw;
    background: linear-gradient(134deg, rgba(90,12,148,1) 0%, rgba(6,1,2,1) 80%, rgba(0,0,23,1) 100%);
    height: 100vh;
    position: fixed;
   

}
ul{
    list-style-type: none;
    text-decoration: none;    
}
.sidebar a {
    color: inherit; 
    text-decoration: none; /* Remove underline */
  }

.blockname{
    color: white;
    font-size: larger;
    margin-top: 14vh;
    line-height: 50px;
    font-weight: bolder;
    margin-left: 1vw;
}